body,
html {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

#header-img {
  position: fixed;
  left: 3vw;
  top: 2vh;
  background: whitesmoke;
}
#topheader {
  position: fixed;
  left: 32vw;
  top: 8vh;
  background: whitesmoke;
}
nav {
  position: fixed;
  top: 2vh;
  left: 65vw;
  background: whitesmoke;
}
#header {
  position: fixed;
  width: 100vw;
  padding: 10vh 100vw;
  background: whitesmoke;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50vw;
}
li {
  float: left;
}

a {
  display: block;
  padding: 5px 5px;
  margin: 15px 55px;
  text-decoration: none;
  color: black;
}

#content {
  position: relative;
  padding: 30vh 10vw;
  z-index: 5;
  text-align: center;
}
