body,
html {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

#header-img {
  position: fixed;
  left: 3vw;
  top: 2vh;
  background: whitesmoke;
}
#topheader {
  position: fixed;
  left: 32vw;
  top: 5vh;
  background: whitesmoke;
}
nav {
  position: fixed;
  top: 2vh;
  left: 65vw;
  background: whitesmoke;
}
#header {
  position: fixed;
  width: 100vw;
  padding: 7vh 100vw;
  background: whitesmoke;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50vw;
}
li {
  float: left;
}

a {
  display: block;
  padding: 5px 5px;
  margin: 15px 55px;
  text-decoration: none;
  color: black;
}

#content {
  position: relative;
  padding: 30vh 5vw;
  z-index: 5;
  text-align: center;
}

#features {
  display: flex;
  flex-direction: column;
}

#email {
  width: 400px;
  height: 25px;
  padding: 5px;
}
#submit {
  margin: 15px;
  padding: 5px 10px;
  background: yellow;
  font-weight: bold;
}
#button {
  margin: 15px;
  padding: 5px 10px;
  background: yellow;
  font-weight: bold;
}

#button:hover {
  background: yellowgreen;
}
#features h2 {
  text-align: left;
  margin: 1vh 20vw;
  font-family: "Lato", sans-serif;
}

#features p {
  text-align: left;
  margin: 1vh 20vw 3vh 20vw;
  font-family: "Lato", sans-serif;
}

#how-it-works {
  margin: 7vh;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top {
  color: black;
  background-color: lightgray;
  font-weight: 700;
  margin: 0px;
  padding: 20px 10px;
}

#pricing1,
#pricing2,
#pricing3 {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin: 50px;
  font-family: "Lato", sans-serif;
  font-size: 15pt;
}

#pricing1 button,
#pricing2 button,
#pricing3 button {
  background: rgb(241, 241, 188);
  padding: 10px 20px;
  position: relative;
  top: 15px;
}

#pricing1 button:hover,
#pricing2 button:hover,
#pricing3 button:hover {
  background: yellow;
  padding: 10px 20px;
}
#price-content {
  text-transform: capitalize;
}
footer{
  margin-bottom: -200px;
}
 #l1 {
  position: relative;
  margin-bottom: -200px;

  padding: 50px;
  float:right;
  width:50%
}
 #l2 {
  position: relative;
  margin-bottom: -200px;

  padding: 50px;
  float: left;;
  width:50%
  
}
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
