body,
html {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

#header-img {
  position: fixed;
  left: 3vw;
  top: 2vh;
  background: whitesmoke;
}
#topheader {
  position: fixed;
  left: 32vw;
  top: 5vh;
  background: whitesmoke;
}
nav {
  position: fixed;
  top: 2vh;
  left: 65vw;
  background: whitesmoke;
}
#header {
  position: fixed;
  width: 100vw;
  padding: 7vh 100vw;
  background: whitesmoke;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50vw;
}
li {
  float: left;
}

a {
  display: block;
  padding: 5px 5px;
  margin: 15px 55px;
  text-decoration: none;
  color: black;
}

#content {
  position: relative;
  padding: 30vh 10vw;
  z-index: 5;
  text-align: center;
}

#features {
  display: flex;
  flex-direction: column;
}

#pricing {
  display: flex;
}
#email {
  width: 400px;
  height: 25px;
  padding: 5px;
}
#button {
  margin: 15px;
  padding: 5px 10px;
  background: yellow;
  font-weight: bold;
}

#button:hover {
  background: yellowgreen;
}
